body {
    background-color: #002E67;
    background-image: url("/images/page_background.gif");
    background-repeat: repeat-x;
    color: #333333;
    font-size: 0.7em;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
 	line-height: 16px;
    min-height: 990px;
    margin: 0px;
    padding: 0px;

}
table {
	width: 100%;
}
h1 {
    border-bottom: 0 none;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: 0;
    padding: 10px 0 12px;
}
h2 {
	text-align: left;
}
a {

	text-decoration: none;	
}
#sf_admin_container a {
	color: #1B57AA;	
}
a:hover {
	text-decoration: underline;
	}
#sf_admin_container a:hover {
	color: #1B57AA;	
}
#wrapper {
   margin: 0 auto 33px;
    max-width: 1800px;
    min-width: 950px;
    position: relative;
    width: 96%;
}

#footer {
    background-image: url("/images/page_footer_m.gif");
    background-position: right center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 0.9em;
    padding: 10px 0;	
}

.shadowHeader {
	background-color: #000033;
	color: #FFF;
 	background-image: url("../images/backend/tl.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 14px;
	text-align: left;
	}
	
.shadowHeader .shadowMidLeft {
	background-color: #000033;
	background-image: url("../images/backend/tr.png");
    background-position: right 0;
    background-repeat: no-repeat;
    margin-left: 14px;
    margin-right: -14px;
}
	

#header {
    background-image: url("/images/headerLogo.jpg");
    background-repeat: no-repeat;
    height: 112px;
	}
	
#header h1 {
    color: #FFFFFF;
    font: bold 24px/26px arial,helvetica,sans-serif;
    padding: 20px 0 22px 5px;
    text-shadow: 1px 1px 3px #052857;
}

.navigation {

}

.shadowWrap {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-right: 6px;
}
.shadowWrap .shadowMidLeft {
    background: url("../images/backend/mr.png") repeat-y scroll right 0 transparent;
    margin-right: -6px;
}
.shadowWrap .shadowMidLeft .shadowMidContent {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 8px 0 4px;
    text-align: left;
}

#rightcolumn {
	width: 25%;
	padding: 0 10px;
}

.shadowBottomLeft {
    background: url("../images/backend/bl.png") no-repeat scroll 0 0 transparent;
    margin-right: 14px;
	}
div.shadowBottomLeft div.shadowMidLeft {
    background: url("../images/backend/br.png") no-repeat scroll right 0 transparent;
    margin-right: -14px;
    padding-bottom: 25px;
	}

.twocol {
    background: url("../images/backend/2col.png") repeat-y scroll right bottom #FFFFFF;
    position: relative;
}

.twocol #content {
    background: url("../images/backend/2col-top.png") no-repeat scroll right top transparent;
}
#adminWrap {
    background: none repeat scroll 0 0 transparent;
}
#content {
    padding: 15px 18px 25px 15px;
    position: relative;
}
#sf_admin_container {
    padding: 15px 18px 25px 15px;
	}

#leftcol {
    height: auto !important;
    margin-right: 261px;
    min-height: 350px;
}

#rightcol {
    padding: 67px 0 0;
    position: absolute;
    right: 17px;
    top: 0;
    width: 218px;
}

.right {
	float: right;
	}

.column {
	float: left;
}

.clearer {
	clear: both;
}

#success, .success, .flash_notice {
    background: url("../images/backend/success.png") no-repeat scroll 11px 12px #E1FFD1;
    border-bottom: 1px solid #C5F8AC;
    border-top: 1px solid #C5F8AC;
    padding: 10px 35px;
    position: fixed;
    top: 0px;
    width: 90%;
}

.flash_error {
    background: url("../images/backend/error.png") no-repeat scroll 11px 12px #FF3333;
    border-bottom: 1px solid #FF3333;
    border-top: 1px solid #FF3333;
    color: #FFF;
    padding: 10px 35px;
    position: fixed;
    top: 0px;
    width: 90%;
}

#rightcolumn ul {
	list-style-type: none;
	padding: 0px;
}

#rightcolumn li {
    background-color: #CCCCCC;
    display: block;
    margin: 0;
    padding: 5px;
}
#rightcolumn li a{
    color: #000033;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#rightcolumn li a:hover{
    background-color: #999999;
    color: #D92315;
    text-decoration: none;
}

.sideNav{
    background-color: #000033;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    }
    
    
    
fieldset {
    background-color: #CCCCCC;
    border: 5px solid #000033;
    padding: 5px;
    margin: 0px;
}
ul#navigation {
	float: left;
}
ul#backendnavigation {
	float:right;	
}
ul#navigation, ul#backendnavigation {
    color: #FFFFFF;
    font-size: 1.1em;
    list-style-type: none !important;
    margin-top: 65px;
    padding-left: 300px;
}
ul#navigation li, ul#backendnavigation li {
    float: left;
     list-style-type: none !important;
    margin-right: 16px;
}
ul#navigation a, ul#backendnavigation a {
	color: #FFF;	
}
ul.backendnavigation li a:hover {
	font-weifht: bold;
	text-decoration: underline;
	}
#sf_admin_container ul li.sf_admin_action_new a {
    color: #000033;
    text-decoration: none;
}


.formBG {

}

#sf_admin_container fieldset {
    background: none repeat scroll 0 0 #F4F4F4;
    border-radius: 8px 8px 8px 8px;
    margin-top: -5px;
    margin-bottom: 20px;
    padding: 4px 0;
}
#sf_admin_container .sf_admin_form_row {
    background-color: #E4E4E4;
    border-bottom: none;
    clear: both;
    margin: 0 10px;
    padding: 10px;
}
#sf_admin_container fieldset h2 {
    background: none;
    color: #1B57AA;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 20px;
}

input[type="text"], input[type="password"], textarea {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    font: 12px arial,verdana,sans-serif;
    padding: 5px 4px;
}

label {
    float: left;
    font-size: 11px;
    padding: 5px 0 0 3px;
    width: 100px;
}
table.tableHeader {
    margin-bottom: 10px;
}
table.tableHeader td {
	height: 22px;
	}
th {
    background: url("../images/backend/dash_sending_for.jpg") repeat-x scroll left top #D3E9F7;
    border-bottom: 1px solid #C0DAE7;
    border-top: 1px solid #D2E7F8;
    color: #6194B8;
    font-size: 12px;
    padding: 9px 14px 8px 4px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
table.tableHeader tr.noHighlight th {
    white-space: nowrap;
}

table.tableHeader th.headerLeft {
    border-left: 1px solid #D2E7F8;
    border-top-left-radius: 6px;
    padding-left: 11px;
}

table.tableHeader th {
    background: url("../images/backend/dash_sending_for.jpg") repeat-x scroll left top #D3E9F7;
    border-bottom: 1px solid #C0DAE7;
    border-top: 1px solid #D2E7F8;
    color: #6194B8;
    font-size: 12px;
    padding: 9px 14px 8px 4px;
    text-shadow: 1px 1px 0 #FFFFFF;
}

th.headerDarkGreyLeft {
    border-left: 1px solid #E5E5E5;
    border-top-left-radius: 6px;
}

th.headerDarkGreyLeft, th.headerDarkGreyRight {
    background: url("../images/backend/dash_latest_activity.jpg") repeat-x scroll left top transparent;
    border-bottom: 1px solid #D3D3D3;
    border-top: 1px solid #E5E5E5;
    color: #767676;
    font-size: 12px;
    padding: 8px 9px 8px 10px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
table.activity td.activityAction {
    font-size: 12px;
}

table.activity td {
    border-bottom: 1px solid #E9E9E9;
    color: #4C4C4C;
    line-height: 14px;
    padding: 8px 5px;
}
#sf_admin_container th a {
    color: #000033;
    text-decoration: none;
}
#sf_admin_container th a:hover {
    color: #000033;
    text-decoration: underline;	
}
.loggedin {
	color:#828282;
	float:left;
	font-weight:bold;	
}
#sf_admin_container label {
    width: 200px;
}
.form_help {
	display: none;	
}