#dashboard {
    padding: 0px 18px 25px 15px;
}

#clientList, #quoteList {
    float: left;
    padding-top: 20px;
    width: 32%;
}
#addClientButton, #addQuoteButton {
    float: right;
    margin-top: -3px;
}


#clientActivity {
    margin: 0 0 0 32%;
}
#activityBG {
    background: url("/images/backend/2col.png") no-repeat scroll left bottom #FFFFFF;
    margin: 0 0 0 23px;
    padding-top: 20px;
}
#activityContent {
    background: url("/images/backend/col-top.png") no-repeat scroll left top transparent;
    padding: 0 0 0 25px;
}
#clientBlankSlate {
    background: url("/images/backend/lank-slate.gif") repeat-x scroll left top #DCFCC6;
    border-bottom: 2px solid #C9EBBE;
    border-top: 2px solid #D7FAC4;
    margin-bottom: 20px;
    padding: 8px 20px 12px;
}
#clientBlankSlate div.instructions {
    border-top: 1px solid #CEE8BC;
    margin-top: 10px;
    padding-top: 15px;
}
#clientBlankSlate .instructionsCTA {
    padding-right: 15px;
}