body {
    background-color: #000033;
    background-image: url("/images/repeat2.jpg");
    background-repeat: repeat-x;
 	font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
 	line-height: 16px;
 	min-width: 960px;
}
#header {
    background-image: url("/images/logoTop3.jpg");
    background-repeat: no-repeat;
    height: 125px;
}
#wrapper {
	background-color: #FFF;
	margin: 0 auto;
	width: 960px;
}


#centercolumn {
	padding: 0 10px;
	width: 70%;
}

#rightcolumn {
	width: 25%;
	padding: 0 10px;
}

.column {
	float: left;
}

.clearer {
	clear: both;
}


#rightcolumn ul {
	list-style-type: none;
	padding: 0px;
}

#rightcolumn li {
    background-color: #CCCCCC;
    display: block;
    margin: 0;
    padding: 5px;
}
#rightcolumn li a{
    color: #000033;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#rightcolumn li a:hover{
    background-color: #999999;
    color: #D92315;
    text-decoration: none;
}

.sideNav{
    background-color: #000033;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    }
    
    
    
fieldset {
    background-color: #CCCCCC;
    border: 5px solid #000033;
    padding: 5px;
    margin: 0px;
}

input:focus {
	    border-color: #000033;
	    outline: none;
	}

table {
	width: 100%;	
	}
	
#sf_admin_container th {
    background-color: #000033;
    color: #FFFFFF;
}

#sf_admin_container th a, #sf_admin_container th a:hover {
	color: #FFF;
	}
	
#sf_admin_container th a:hover {
	text-decoration: underline;
	}
	
#sf_admin_container fieldset h2 {
    background-color: #000033;
    color: #FFF;
    font-size: 11px;
    margin: 0;
    padding: 3px;
}

ul.sf_admin_actions {
	padding-left: 0px;
	}
.dashboard_button {
	float: left;
	margin-top:10px;
	margin-right:20px;
	}
	
#success, .success, .flash_notice {
    background: url("../images/backend/success.png") no-repeat scroll 11px 12px #E1FFD1;
    border-bottom: 1px solid #C5F8AC;
    border-top: 1px solid #C5F8AC;
    margin: 0 0 20px;
    padding: 10px 10px 10px 35px;
}

.flash_error {
    background: url("../images/backend/error.png") no-repeat scroll 11px 12px #FF3333;
    border-bottom: 1px solid #FF3333;
    border-top: 1px solid #FF3333;
    color: #FFF;
    margin: 0 0 20px;
    padding: 10px 10px 10px 35px;
}
