body {
    background-color: #002E67;
    background-image: url("/images/page_background.gif");
    background-repeat: repeat-x;
    color: #000000;
    font-size: 0.7em;
	font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
 	line-height: 16px;
 	min-height: 1000px;
 	min-width: 960px;
 	margin: 0px;
 	padding: 0px;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    color: #E31818;
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 8px;
}
a {
	text-decoration: none;	
}
#header {
    background-image: url("/images/headerLogo.jpg");
    background-repeat: no-repeat;
    height: 112px;
}
#wrapper {
	margin: 0 auto;
	width: 960px;
}
#content {
   background-color: #FFFFFF;
    padding: 25px 0 10px;
}	
#footer {
    background-image: url("/images/page_footer_m.gif");
    background-position: right center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-size: 0.9em;
    padding: 10px 0;	
}

ul#navigation {
    color: #FFFFFF;
    font-size: 1.1em;
	
    float: left;
    list-style-type: none;
    margin-top: 65px;
    padding-left: 300px;
}
ul#navigation li {
    float: left;
    margin-right: 16px;
}
ul#navigation a {
	color: #FFF;	
}

#centercolumn {
	padding: 0 10px;
	width: 70%;
}

#rightcolumn {
	width: 25%;
	padding: 0 10px;
}

.column {
	float: left;
}

.clearer {
	clear: both;
}


#rightcolumn ul {
	list-style-type: none;
	padding: 0px;
}

#rightcolumn li {
    background-color: #CCCCCC;
    display: block;
    margin: 0;
    padding: 5px;
}
#rightcolumn li a{
    color: #000033;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#rightcolumn li a:hover{
    background-color: #999999;
    color: #D92315;
    text-decoration: none;
}

.sideNav{
    background-color: #000033;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
    }
    
ul#navigation {
    color: #FFFFFF;
    font-size: 1.1em;
    list-style-type: none !important;
    margin-top: 65px;
    padding-left: 300px;
}
ul#navigation li {
    float: left;
     list-style-type: none !important;
    margin-right: 16px;
}
ul#navigation a {
	color: #FFF;	
}
ul#navigation li a:hover {
	font-weifht: bold;
	text-decoration: underline;
	}   
    
fieldset {
    background-color: #FFFFF0;
    border: 1px solid #DDDDDD;
    border-radius: 0.6em 0.6em 0.6em 0.6em;
    margin: 1em 0;
    padding: 0.5em 1em;
}
legend {
    color: #E31818;
    font-size: 1.2em;
    margin-left: 1em;
}	

input:focus {
	    border-color: #000033;
	    outline: none;
	}

table {
	width: 100%;	
	}
	
#sf_admin_container th {
    background-color: #000033;
    color: #FFFFFF;
}

#sf_admin_container th a, #sf_admin_container th a:hover {
	color: #FFF;
	}
	
#sf_admin_container th a:hover {
	text-decoration: underline;
	}
	
#sf_admin_container fieldset h2 {
    background-color: #000033;
    color: #FFF;
    font-size: 11px;
    margin: 0;
    padding: 3px;
}

ul.sf_admin_actions {
	padding-left: 0px;
	}
.dashboard_button {
	float: left;
	margin-top:10px;
	margin-right:20px;
	}
	
#success, .success, .flash_notice {
    background: url("../images/backend/success.png") no-repeat scroll 11px 12px #E1FFD1;
    border-bottom: 1px solid #C5F8AC;
    border-top: 1px solid #C5F8AC;
    margin: 0 0 20px;
    padding: 10px 10px 10px 35px;
}

.flash_error {
    background: url("../images/backend/error.png") no-repeat scroll 11px 12px #FF3333;
    border-bottom: 1px solid #FF3333;
    border-top: 1px solid #FF3333;
    color: #FFF;
    margin: 0 0 20px;
    padding: 10px 10px 10px 35px;
}
